<axe-form id="formMain" title="Paises" type="main" >  
  <!-- <ng-container form-header-buttons-end>
    <button mat-icon-button (click)="dataShow(formData)">
      <mat-icon>add</mat-icon>
    </button>
  </ng-container> -->
  <ng-container form-body>
    <!-- <axe-table [rows]="tablerows" [data]="data" [showPaginationSize]="true" >     
      <ng-template #resultsFrame let-item>
        <td class="col-6" >{{ item.Nombre }}</td>
        <td class="col-3" >{{ item.A2 }}</td>
        <td class="col-3" >{{ item.A3 }}</td>
      </ng-template>
    </axe-table> 
    -->
  </ng-container>
</axe-form>